<!DOCTYPE html>
<html>
<head>
    <h2>George Cancino</h2>
</head>

<body>
    <p>About me</p2>
    
    <p>
        Hello, my name is George Cancino. I am currently in the COMP
        3081 classroom. I am a senior studying Computer Science. In my
        free time, I like to binge watch shows and go shopping.
    </p>
</body>
</html>