<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me :3</title>
</head>
<body>

    <h1>Fact about me:</h1>
    
    <p>I hate people named Katherine, Doug, or Grant :3</p>

</body>
</html>
